appdirs==1.4.4
asgiref==3.2.7
astroid==2.4.2
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
Cython==0.29.21
distlib==0.3.1
dj-database-url==0.5.0
djangify==1.0.0
Django==3.0.7
django-heroku==0.3.1
filelock==3.0.12
geoip2==3.0.0
googlemaps==4.4.1
gunicorn==20.0.4
idna==2.10
isort==4.3.21
lazy-object-proxy==1.4.3
maxminddb==1.5.4
mccabe==0.6.1
Pillow==7.2.0
psycopg2==2.8.5
pylint==2.5.3
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
urllib3==1.25.9
virtualenv==20.0.26
whitenoise==5.1.0
wrapt==1.12.1
